@use '../../_colors.scss' as *;

.mainTexts {
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 140px;
}

.mainTexts h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 12px;
}

.mainTexts p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    max-width: 900px;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.gradientLeft,
.gradientRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 180px;
    z-index: 2;
    pointer-events: none;
}

.gradientLeft {
    left: 0;
    background: linear-gradient(to right, $primaryDark, transparent);
}

.gradientRight {
    right: 0;
    background: linear-gradient(to left, $primaryDark, transparent);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    text-align: center;
}

.imageWrapper {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 32px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        filter: grayscale(100%);
    }
}

.texts h3 {
    font-size: 24px;
    font-weight: 500;
}

.texts p {
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
}

@media (max-width: 1024px) {
    .mainTexts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .mainTexts h2 {
        text-align: center;
        font-size: 36px;
    }

    .mainTexts p {
        text-align: center;
    }

    .card {
        margin: 0 30px;
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 850px) {
    .mainTexts {
        margin-bottom: 60px;
    }

    .mainTexts h2 {
        font-size: 32px;
    }

    .mainTexts p {
        font-size: 16px;
    }

    .texts h3 {
        font-size: 20px;
    }

    .texts p {
        font-size: 16px;
    }
    .imageWrapper {
        width: 160px;
        height: 160px;
    }
}

@media (max-width: 768px) {
    .mainTexts {
        margin-bottom: 50px;
    }

    .mainTexts h2 {
        font-size: 28px;
    }
    .card {
        margin: 0 20px;
    }
}

@media (max-width: 630px) {
     .mainTexts h2 {
        font-size: 24px;
    }
    .imageWrapper {
        width: 120px;
        height: 120px;
    }
}