@use '../../_colors.scss' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 110px;
    max-width: 1560px;
    width: 100%;
    padding: 200px 16px 0px 16px;
    margin: 0 auto;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.texts h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
}

.texts p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    max-width: 750px;
    width: 100%;
}

@media (max-width:1024px) {
    .wrapper {
        padding: 0px 16px;
        align-items: center;
    }

    .texts h2 {
        text-align: center;
        font-size: 36px;
        margin-top: 50px;
    }

    .texts p {
        text-align: center;
    }
}

@media (max-width: 850px) {
    .texts h2 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        gap: 60px;
    }
    .texts h2 {
        font-size: 28px;
    }
    .texts p {
       font-size: 16px;
    }
}

@media (max-width: 630px) {
    .texts h2 {
        font-size: 24px;
    }
}