@use '../../_colors.scss' as *;


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
    max-width: 1560px;
    width: 100%;
    padding: 340px 16px 124px 16px;
    margin: 0 auto;
}

.texts {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    z-index: 2;

}

.texts img {
    position: absolute;
    top: -70px;
    left: -30px;
    z-index: -1;
    filter: brightness(0.6);

}

.texts h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
}

.texts p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    max-width: 670px;
    width: 100%;
}

.casesWrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px
}

.avseApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('/avseAppBackGround.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    max-width: 460px;
    width: 100%;
    overflow: hidden;
    border-radius: 24px;
    padding: 0px 12px;
    gap: 76px;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $serviceBlue;
        opacity: 0.85;
        z-index: 1;
    }

    >* {
        position: relative;
        z-index: 2;
    }
}

.secondaryTexts h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: center;

}

.secondaryTexts p {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    max-width: 376px;
    width: 100%;
    text-align: center;
}

.secondSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.avseLanding,
.pilzWrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px 16px 24px 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 24px;
    gap: 64px;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: $serviceBlue;
        opacity: 0.85;
        z-index: 1;
    }

    >* {
        position: relative;
        z-index: 2;
    }
}

.avseLanding {
    background-image: url('/avseLandingBackGround.png');
}

.pilzWrapper {
    background-image: url('/pilzLandingBackGround.png');
}

//animation
.avseApp,
.avseLanding,
.pilzWrapper {
    transition: transform 0.5s ease;

    &:hover {
        transform: translateY(-4px);
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(120deg,
                transparent 0%,
                rgba($primaryBlue, 0.2) 50%,
                transparent 100%);
        opacity: 0;
        z-index: 3;
        pointer-events: none;
        transition: opacity 0.5s ease;
    }

    &:hover::after {
        opacity: 1;
    }
}

//animation end
.pilzLandingLaptopImg {
    display: none;
}

.leptopH3 {
    display: none;
}

@media (max-width: 1300px) {

    .avseLanding,
    .pilzWrapper {
        padding: 24px 16px;
    }

    .avseApp {
        max-width: 350px;
    }
}

@media (max-width: 1200px) {

    .avseLanding,
    .pilzWrapper {
        gap: 16px;
    }

    .secondaryTexts h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 18px;
    }

    .secondaryTexts p {
        font-size: 14px;
        font-weight: 700;
        line-height: 36px;
    }

    .casesWrapper {
        gap: 24px
    }

    .secondSectionWrapper {
        gap: 32px
    }

    .avseApp {
        max-width: 300px;
    }
}

@media (max-width: 1100px) {
    .secondaryTexts h3 {
        font-size: 18px;

    }

    .secondaryTexts p {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 100px 64px;
    }

    .texts h2 {
        font-size: 36px;
    }

    .casesWrapper {
        flex-direction: column;
    }

    .avseApp {
        flex-direction: row-reverse;
        max-width: 100%;
        min-height: auto;
        justify-content: space-between;
        padding: 32px;
    }

    .avseLanding,
    .pilzWrapper {
        justify-content: space-between;
        padding: 32px;
    }
}

@media (max-width: 850px) {
    .texts {
        align-items: center;
    }

    .texts h2 {
        text-align: center;
        font-size: 32px;
    }

    .texts p {
        font-size: 16px;
        text-align: center;
    }

    .texts img {
        display: none;
    }
}

@media (max-width: 730px) {
    .wrapper {
        align-items: center;
    }

    .texts h2 {
        font-size: 28px;
    }

    .avseApp {
        justify-content: center;
        padding: 32px;
        max-width: 550px;
    }

    .avseLanding,
    .pilzWrapper {
        max-width: 550px;
        justify-content: center;
    }

    .secondaryTexts {
        display: none;
    }

    .pilzLandingImg {
        display: none;
    }

    .pilzLandingLaptopImg {
        display: flex;
    }

    .leptopH3 {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 630px) {
    .secondSectionWrapper {
        gap: 24px;
    }

    .texts h2 {
        font-size: 24px;
    }

    .wrapper {
        padding: 100px 24px;
    }

    .avseApp,
    .avseLanding,
    .pilzWrapper {
        padding: 12px 16px;
    }
}